<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tcsoft.searchmachinary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.tcsoft.searchmachinary.glide.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.BookActivity" />
        <activity android:name=".activity.AdviseActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ConfigActivity" />

        <service android:name=".service.TokenService" />
        <receiver android:name=".receiver.TokenReceiver" />
    </application>

</manifest>